<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signin - Pics Room</title>
    <link rel="stylesheet" href="../style.css" />

    <!-- Load FontAwesome -->
    <script
      src="https://kit.fontawesome.com/b73d33b5ff.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="main">
      <div class="inner-div">
        <form>
          <h2>Sign in</h2>
          <br />
          <br />
          <br />
          <label> Email </label> <br />
          <input class="text-field" type="email" name="email" /> <br />
          <br />
          <label> Password </label> <br />
          <input class="text-field" type="password" name="password" />
          <br /><br />
          <br />
          <button
            class="fas fa-sign-in-alt"
            style="
              background-color: #0096ff;
              color: white;
              border: 0;
              height: 50px;
              width: 400px;
              cursor: pointer;
            "
          >
            &nbsp;
            <span>Sign in</span>
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
