<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group Selfie - Pics Room</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div class="main">
      <div class="header">
        <a href="/" class="header__link">
          <h2>Pics Room</h2>
        </a>
      </div>
      <h1>Welcome to Group Selfie!!!</h1>
      <div class="category__card">
        <!-- Create Room Card -->
        <div class="card__left">
          <a href="/usie" class="main__link">
            <img
              src="https://cdn.dribbble.com/users/3622080/screenshots/15667364/media/d0e466cbb6e62bf71b8e2fa6a9b314f4.gif"
              alt="Selfie"
              style="width: 100%"
            />
            <div class="group__container">
              <h2><b>Create Room</b></h2>
            </div>
          </a>
        </div>

        <!-- Join Room Card -->
        <div class="card__right">
          <a href="/usie" class="main__link">
            <img
              src="https://cdn.dribbble.com/users/3622080/screenshots/15633895/media/83fc7a2f470019b780069e359e59993a.gif"
              alt="Group Selfie"
              style="width: 100%"
            />
            <div class="group__container">
              <h2><b>Join Room</b></h2>
            </div>
          </a>
        </div>
      </div>
      <p>Copyright &copy; 2021 Cactus Creatives. All rights reserved</p>
    </div>
  </body>
</html>
