<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Pics Room</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div class="main">
      <div class="header">
        <a href="/" class="header__link">
          <h2>Pics Room</h2>
        </a>
      </div>
      <h1>Welcome to Pics Room!!!</h1>
      <div class="category__card">
        <!-- Selfie Card -->
        <div class="card__left">
          <a href="/selfie/select-selfie" class="main__link">
            <img
              src="https://cliply.co/wp-content/uploads/2020/10/442010361_WINKING_AVATAR_3D_400px.gif"
              alt="Selfie"
              style="width: 100%"
            />
            <div class="container">
              <h2><b>Selfie</b></h2>
            </div>
          </a>
        </div>

        <!-- Group Selfie Card -->
        <div class="card__right">
          <a href="/selfie/group-selfie" class="main__link">
            <img
              src="https://cliply.co/wp-content/uploads/2020/10/avatars-3d-pack.gif"
              alt="Group Selfie"
              style="width: 100%"
            />
            <div class="container">
              <h2><b>Group Selfie</b></h2>
            </div>
          </a>
        </div>
      </div>
      <p>Copyright &copy; 2021 Cactus Creatives. All rights reserved</p>
    </div>
  </body>
</html>
