<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Selfie | Pics Room</title>
    <script
      src="https://kit.fontawesome.com/b73d33b5ff.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="main">
      <div class="header">
        <a href="/" class="header__link">
          <h2>Pics Room</h2>
        </a>
      </div>
      <h1>Take selfie!!!</h1>
      <div class="category__card">
        <div class="main__videos">
          <!-- Div to add video stream on UI -->
          <div id="video-grid"></div>
        </div>
        <canvas id="canvas" class="main__videos"></canvas>
      </div>
      <button
        class="fas fa-camera"
        style="color: black; height: 50px; width: 200px; cursor: pointer"
      >
        <span>Capture</span>
      </button>
      <p>Copyright © 2021 Cactus Creatives. All rights reserved</p>
    </div>
    <script src="/public/selfie.js"></script>
  </body>
</html>
