<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Selfie - Pics Room</title>

    <!-- Load FontAwesome -->
    <script
      src="https://kit.fontawesome.com/b73d33b5ff.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="../style.css" />

    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"></script>
  </head>
  <body>
    <div class="main">
      <div class="header">
        <i
          style="font-size: x-large"
          class="fas fa-chevron-left"
          onclick="window.history.back()"
        ></i>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="/" class="header__link">
          <h2>Pics Room</h2>
        </a>
      </div>
      <h1>Take selfie!!!</h1>
      <div class="main__videos">
        <!-- Div to add video stream on UI -->
        <div id="video-grid"></div>
        <img
          src="https://cdn.pixabay.com/photo/2017/07/09/10/11/frame-2486548_1280.png"
          alt="Frame"
          id="frame-image"
          width="450"
          height="320"
          style="position: absolute; z-index: 9999; margin-top: 5px"
        />
        <!-- <canvas id="output-canvas" width="400" height="300"></canvas> -->
      </div>

      <div id="filter-select">
        <strong>Frames:</strong> &nbsp; &nbsp; <% if(framesData.length === 0) {
        %>
        <p>No frames found!</p>
        <% } else { framesData.forEach(element => { if(element.status ===
        'active') { %>
        <img
          src="<%= element.frameUrl %>"
          class="lg img-circle"
          alt="img"
          style="width: 150px; margin-right: 20px"
          onclick="setFrame('<%= element.frameUrl %>')"
        />
        <% } }) } %>
      </div>

      <div id="filter-select">
        <strong>Filters:</strong>
        <img
          src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/rhododendron-1508785044.jpg?crop=1.00xw:0.667xh;0,0.0386xh&resize=480:*"
          alt="Filter image"
          width="100"
          height="100"
          style="filter: none; cursor: pointer"
          onclick="setFilter('none')"
        />
        <img
          src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/rhododendron-1508785044.jpg?crop=1.00xw:0.667xh;0,0.0386xh&resize=480:*"
          alt="Filter image"
          width="100"
          height="100"
          style="filter: sepia(1); cursor: pointer"
          onclick="setFilter('sepia(1)')"
        />
        <img
          src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/rhododendron-1508785044.jpg?crop=1.00xw:0.667xh;0,0.0386xh&resize=480:*"
          alt="Filter image"
          width="100"
          height="100"
          style="filter: grayscale(1); cursor: pointer"
          onclick="setFilter('grayscale(1)')"
        />
        <img
          src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/rhododendron-1508785044.jpg?crop=1.00xw:0.667xh;0,0.0386xh&resize=480:*"
          alt="Filter image"
          width="100"
          height="100"
          style="filter: hue-rotate(3.142rad); cursor: pointer"
          onclick="setFilter('hue-rotate(3.142rad)')"
        />
        <img
          src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/rhododendron-1508785044.jpg?crop=1.00xw:0.667xh;0,0.0386xh&resize=480:*"
          alt="Filter image"
          width="100"
          height="100"
          style="filter: invert(1); cursor: pointer"
          onclick="setFilter('invert(1)')"
        />
      </div>

      <div id="capture-div">
        <button
          id="btn-capture"
          class="fas fa-camera"
          style="color: black; height: 50px; width: 200px; cursor: pointer"
        >
          &nbsp;
          <span>Capture</span>
        </button>
      </div>
      <p>Copyright &copy; 2021 Cactus Creatives. All rights reserved</p>
    </div>
    <script src="../selfie.js"></script>
  </body>
</html>
