<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Select Selfie Type - Pics Room</title>
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <div class="main">
      <div class="header">
        <a href="/" class="header__link">
          <h2>Pics Room</h2>
        </a>
      </div>
      <h1>Select a selfie type!!!</h1>
      <div class="category__card">
        <div class="card__left" style="background-color: #fa5726">
          <a href="/selfie/select-frame" class="main__link">
            <img
              src="https://cdn.dribbble.com/users/7465/screenshots/15573837/media/5b0eb8dee4a0f6a2a311f4c4a61bb8bf.png"
              alt="Frame Selfie Image"
              width="350"
              height="310"
            />
            <div class="container">
              <h2 style="color: #f3f3f3"><b>Selfie with frame</b></h2>
            </div>
          </a>
        </div>

        <div class="card__left" style="background-color: #eeeeec">
          <a href="/selfie/virtual-background" class="main__link">
            <img
              src="https://cdn.dribbble.com/users/13157/screenshots/10772851/media/9b4ed9adfaaa1d2a5031d8058da8be81.jpg"
              alt="Virtual Background Selfie Image"
              width="350"
              height="310"
            />
            <div class="container">
              <h2><b>Virtual Background Selfie</b></h2>
            </div>
          </a>
        </div>

        <!-- <div class="card__right" style="background-color: #fd3712">
          <a href="/selfie/glasses" class="main__link">
            <img
              src="https://cdn.dribbble.com/users/1174720/screenshots/15718185/media/b54ee56400b00386f558b6a6f465d5b0.png"
              alt="3D Glasses Selfie Image"
              width="370"
              height="310"
            />
            <div class="container">
              <h2 style="color: #f3f3f3"><b>3D Glasses Selfie</b></h2>
            </div>
          </a>
        </div>

        <div class="card__right" style="background-color: #e9dbcf">
          <a href="/selfie/filters" class="main__link">
            <img
              src="https://cdn.dribbble.com/users/1090020/screenshots/14413782/media/faea5fc85a5d10af253f830be5105781.jpeg"
              alt="Filter Selfie Image"
              width="350"
              height="310"
            />
            <div class="container">
              <h2><b>Filter Selfie</b></h2>
            </div>
          </a>
        </div> -->
      </div>
      <p>Copyright &copy; 2021 Cactus Creatives. All rights reserved</p>
    </div>
  </body>
</html>
