<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virtual Background Selfie - Pics Room</title>
    <link rel="stylesheet" href="../style.css" />

    <!-- Load FontAwesome -->
    <script
      src="https://kit.fontawesome.com/b73d33b5ff.js"
      crossorigin="anonymous"
    ></script>

    <!-- Load axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="main">
      <div class="header">
        <i
          style="font-size: x-large"
          class="fas fa-chevron-left"
          onclick="window.history.back()"
        ></i>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="/" class="header__link">
          <h2>Pics Room</h2>
        </a>
      </div>
      <h1>Take selfie with virtual background!!!</h1>

      <div class="main__videos">
        <div id="video-grid"></div>
        <canvas id="output-canvas" width="400" height="300"></canvas>
      </div>

      <div id="filter-select">
        <strong>Filters:</strong>
        <img
          src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/rhododendron-1508785044.jpg?crop=1.00xw:0.667xh;0,0.0386xh&resize=480:*"
          alt="Filter image"
          width="100"
          height="100"
          style="filter: none; cursor: pointer"
          onclick="setFilter('none')"
        />
        <img
          src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/rhododendron-1508785044.jpg?crop=1.00xw:0.667xh;0,0.0386xh&resize=480:*"
          alt="Filter image"
          width="100"
          height="100"
          style="filter: sepia(1); cursor: pointer"
          onclick="setFilter('sepia(1)')"
        />
        <img
          src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/rhododendron-1508785044.jpg?crop=1.00xw:0.667xh;0,0.0386xh&resize=480:*"
          alt="Filter image"
          width="100"
          height="100"
          style="filter: grayscale(1); cursor: pointer"
          onclick="setFilter('grayscale(1)')"
        />
        <img
          src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/rhododendron-1508785044.jpg?crop=1.00xw:0.667xh;0,0.0386xh&resize=480:*"
          alt="Filter image"
          width="100"
          height="100"
          style="filter: hue-rotate(3.142rad); cursor: pointer"
          onclick="setFilter('hue-rotate(3.142rad)')"
        />
        <img
          src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/rhododendron-1508785044.jpg?crop=1.00xw:0.667xh;0,0.0386xh&resize=480:*"
          alt="Filter image"
          width="100"
          height="100"
          style="filter: invert(1); cursor: pointer"
          onclick="setFilter('invert(1)')"
        />
      </div>

      <div id="capture-div">
        <button
          id="btn-capture"
          class="fas fa-camera"
          style="color: black; height: 50px; width: 200px; cursor: pointer"
        >
          &nbsp;
          <span>Capture</span>
        </button>
      </div>
      <p>Copyright &copy; 2021 Cactus Creatives. All rights reserved</p>
    </div>

    <!-- Load TensorFlow.js -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.2"></script>
    <!-- Load BodyPix -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/body-pix@2.0"></script>
    <script src="../virtual-background.js"></script>
  </body>
</html>
